.seccion4>img {
  transform: translate(0, 0);

  transition: transform 0.1s ease-out;

}

.card {
  opacity: 0;

  transform: translateY(50px);
 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  
}

.card.visible {
  opacity: 1;

  transform: translateY(0);

}
.animation {
  width: 200px; 
  height: 200px; 
  position: relative;
  overflow: hidden;
  left: 1000px;
  top: 170px;
}


.frame {
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 100%;
  z-index: 0; 
  opacity: 0; 
}



@keyframes changeImage {
  0%, 16.66% {
    z-index: 1;
    opacity: 1;
  }
  16.67%, 100% {
    z-index: 0;
    opacity: 0;
  }
}


.frame:nth-child(1) {
  animation: changeImage 1.5s infinite;
}

.frame:nth-child(2) {
  animation: changeImage 1.5s infinite;
  animation-delay: 0.25s;
}

.frame:nth-child(3) {
  animation: changeImage 1.5s infinite;
  animation-delay: 0.5s;
}

.frame:nth-child(4) {
  animation: changeImage 1.5s infinite;
  animation-delay: 0.75s;
}

.frame:nth-child(5) {
  animation: changeImage 1.5s infinite;
  animation-delay: 1s;
}

.frame:nth-child(6) {
  animation: changeImage 1.5s infinite;
  animation-delay: 1.25s;
}
.spritesheet{
  position: relative;
}

#muñeco-violeta {
    position: absolute;
    right: 130px;
}

#muñeco-rojo {
    position: absolute;
    right: -100px;
    top: 200px;
}

#muñeco-rosa {
    position: absolute;
    top:200px;
    right: 80px;
}





/* Animación para el sprite */
@keyframes bailar {
    0% {
        background-position: 0px; 
    }
    100% {
        background-position: -20000px; 
    }
}

#muñeco-rojo {
    background: url("../img/sector9/spriteSheet1.png");
    width: 480px; 
    height: 270px; 
    background-repeat: no-repeat;
    animation: bailarRojo 1.8s steps(40)infinite; 
    margin-bottom: 1%;
}


@keyframes bailarRojo {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -19200px; 
    }
}

#muñeco-rosa {
    background: url("../img/sector9/spriteSheet2.png");
    width: 480px; 
    height: 270px; 
    background-repeat: no-repeat;
    animation: bailarRosa 1.8s steps(40)infinite;
    margin-bottom: 1%;
}


@keyframes bailarRosa {
    0% {
        background-position: 0px; 
    }
    100% {
        background-position: -19200px;
    }
}