* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}




body {
    background-color: hsl(220, 16%, 7%);
}


header {
    width: 100%;
    background-color: #180C39;
    padding: 0 0px;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    align-items: center;

}

header>div {
    margin: 0 10px 10px 0px;
    justify-content: space-around;
    align-items: center;
}



.logo,
.imgLogo {
    height: 90px;
    width: 90px;
    object-fit: contain;

}

.contenedorLogoMenu,
.contenedor_menuCarrito {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.barra_busqueda,
.nombre_pagina {
    display: none;
}

.usuario {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-image: url(../img/fotoUsuario.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#menu_usuario {
    background-color: #2F3237;
    border: none;
    position: absolute;
    width: 100%;
    max-width: 270px;
    height: 76%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 70px;
    border-radius: 20px;
    z-index: 100;
}

.cerrar {
    margin-left: 344px;
    position: absolute;
    top: 17px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;

}

#menu_usuario ::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}


.datos_usuario1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 18px;
}

.cerrar {
    width: 23px;
    height: 23px;
    margin-top: 10px;
    margin-right: 14px
}

.datos_usuario1>button {
    margin-left: 0;
}

.datos_usuario1>h1 {
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 16px;
    text-align: right;
}

.datos_usuario1>p {
    margin-top: 7px;
    margin-right: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

}

.datos_usuario2>div>a,
.datos_usuario3>div>a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: auto;
    margin-left: 27px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}

.datos_usuario2>div>a:hover,
.datos_usuario3>div>a:hover {
    color: #F7BA1F;
}

.datos_usuario2>div {

    margin-top: 10px;
}

.datos_usuario3>.a1 {
    margin-top: 25px;
}

.datos_usuario3>.a2 {
    margin-bottom: 25px;
}

.datos_usuario3>div {
    margin-bottom: 5px;
}

.datos_usuario3 {
    border-top: white solid 3px;
    border-bottom: white solid 3px;
    margin-top: 30px;
}

.datos_usuario2,
.datos_usuario3 {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;


}

.datos_usuario2 svg,
.datos_usuario3 svg {
    margin-right: 6px;
}

.redes-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    gap: 11px;
}

.categorias {
    display: flex;
    background-color: #2F3237;
    align-items: flex-start;
    row-gap: 20px;
    top: 70px;
    width: 100px;
    height: 699px;
    flex-direction: column;
    z-index: 1000;
}



.categorias>button {
    height: 35px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    justify-content: center;
    border: none;
    background-color: #2F3237;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categorias>button:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.menuCategorias {

    width: 100px;
    height: 75%;
    background-color: #2F3237;
    position: absolute;
    border: none;
    top: 70px;
    transition: 0.3s ease-out;

}

.btn_barra {
    all: unset;
    cursor: pointer;
}

.categorias>button>img {
    width: 60px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

.baseJuego {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: inherit;
    width: 105px;
    height: 95px;
    margin-top: 0;
    border-radius: 0px 0px 14px 14px;
    background: #FFFFFF;
    gap: 14px;

}

.baseJuego>.nombreDelJuego,
.parrafoJuego>p {
    color: #000;
    margin-left: 9px;


}

.nombreDelJuego {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
}

.card-title:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #2f3237;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 10px;
    left: 10%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    visibility: visible;
}


.nombreDelJuego:hover::after {
    transition: opacity 0.3s ease;
}

.nombreDelJuego::after {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.parrafoJuego {
    width: 100%;
    border-top: 2px solid #000;

}

.parrafoJuego>p {
    margin-top: 5px;
    font-size: 12px;
}

.card_chica2>div>.carrito,
.card_chica>div>.carrito,
.card_chica_ultima>div>.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    /* Mantiene el carrito al final */
    background-color: green;
    width: 100%;
    /* Asegura que el carrito esté alineado al centro */
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.baseJuego>.parrafoJuego>p,
.baseJuego>.carrito {
    margin-bottom: -1rem;
}

footer {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo img {
    height: auto;
    width: 90px;
}

.footer-logo h3 {
    font-size: 16px;
    margin: 0;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.redes-sociales i {
    font-size: 20px;
    color: white;
}

.footer-Sección {
    text-align: center;
    margin-bottom: 20px;
}

.footer-Sección h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-Sección ul {
    list-style-type: none;
    padding: 0;
}

.footer-Sección li {
    margin-bottom: 6px;
}

.footer-Sección ul,
.footer-Sección li,
.footer-Sección a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-Sección a:hover {
    text-decoration: underline;
}

/* desktop */
@media (min-width: 900px) {

    .contenedor_row {

        display: flex;
        flex-direction: row;
    }

    .contenedor_column {
        margin-left: 61px;
        margin-right: 62px;
        display: flex;
        flex-direction: column;
    }

    header {
        background-color: #180C39;
        display: flex;
        flex-direction: row;
        height: 69px;
    }

    .contenedor_menuCarrito {
        margin-right: 57px;
    }



    .contenedorLogoMenu {
        margin-left: 60px;
    }

    .barra_busqueda {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 300px;
        height: 40px;
        margin-right: 250px;
        margin-top: 7px;
        background: #9EA0B2;
        border-radius: 20px;

    }

    .barra_busqueda>input,
    .barra_busqueda>button {
        accent-color: black;
        background-color: #9EA0B2;
        border: none;
        margin-left: 17px;
        margin-top: 12px;
    }

    .barra_busqueda>input::placeholder {
        color: black;
    }

    .barra_busqueda>button>i {
        color: black;
        margin-left: 70px;
    }


    .logo,
    .imgLogo {
        height: 100px;
        width: 100px;
    }

    .usuario {
        width: 40px;
        height: 40px;
    }

    .barra_busqueda,
    .nombre_pagina {
        display: block;
    }


    .nombre_pagina {

        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    body {
        background-color: #101216;
    }

    .btn_barra {
        all: unset;
        cursor: pointer;
    }

    .menuCategorias {

        width: 200px;
        position: absolute;
        border: none;
        top: 70px;
        transition: 0.3s ease-out;

    }

    .categorias {
        display: flex;
        background-color: #2F3237;
        top: 70px;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        z-index: 1000;
        ov
    }

    .categorias>button {
        height: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: left;
        padding: 0;
        gap: 33px;
        border: none;
        padding-left: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-sizing: border-box;
    }

    .categorias>button:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform: translateY(-1px);
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        color: #F7BA1F;
    }

    .categorias>button:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        color: #F7BA1F;
    }

    .categorias>button p:hover {
        color: #F7BA1F;
    }

    .categorias>button>img {
        width: 60px;
        height: 20px;
        display: block;
        margin: 0 auto;
    }



    .card_chica {
        object-fit: cover;
        width: 211px;
        height: 300px;
        border-radius: 10px;

    }

    .card_chica>img {
        width: 211px;
        height: 300px;
        border-radius: 20px;
    }

    .baseJuego {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: inherit;
        width: 211px;
        height: 100px;
        margin-top: 0;
        border-radius: 0px 0px 20px 20px;
        background: #FFFFFF;
        gap: 14px;

    }

    .card_chica>.baseJuego>.contenedorParrafoCarrito {
        display: flex;

        justify-content: space-between;
        align-items: center;
        border-top: 1px solid black;
        width: 100%;


    }

    .carritoCard {
        background-color: #00A455;
        margin-right: 30px;
        width: 32px;
        height: 30px;
        padding: 5px;
        border-radius: 10px;
        margin-top: 5px;
        box-shadow: 0 0 5px 5px #00A455, 0 0 0 0 #00A455;
        transition: all 400ms ease-in-out;
    }

    .carritoCard:hover {
        color: #000;
        background-color: #fff;
        box-shadow: 0 0 10px 0 #000000, 0 0 10px 4px #000000;

        svg>path {
            stroke: #00A455;
        }
    }


    .nombreDelJuego {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 95%;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 16px;


    }

    .baseJuego>.nombreDelJuego,
    .parrafoJuego>p {
        color: #000;
        margin-left: 14px;



    }

    .nombreDelJuego {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 95%;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 16px;


    }

    .card-title:hover::after {
        content: attr(title);
        position: absolute;
        background-color: #2f3237;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        z-index: 10;
        opacity: 1;
        visibility: visible;
    }


    .nombreDelJuego:hover::after {
        transition: opacity 0.3s ease;
    }

    .nombreDelJuego::after {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
    }

    .parrafoJuego {

        border-top: none;

    }

    .parrafoJuego>p {
        margin-top: 5px;
    }

    .card_chica>div>.carrito,
    .card_chica_ultima>div>.carrito {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        width: 60px;
        border-radius: 10px;
        margin-left: 140px;
        margin-top: -20px;
    }

    #menu_usuario {
        background-color: #2F3237;
        border: none;
        position: absolute;
        width: 402px;
        max-width: 402%;
        height: 550px;
        left: 980px;
        top: 80px;
        border-radius: 20px;
        z-index: 100;
    }

    .cerrar {
        margin-left: 344px;
        position: absolute;
        top: 17px;
        right: 15px;
        background: none;
        border: none;
        cursor: pointer;

    }

    #menu_usuario ::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
    }


    .datos_usuario1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 18px;
    }

    .cerrar {
        width: 23px;
        height: 23px;
        margin-top: 10px;
        margin-right: 14px
    }

    .datos_usuario1>button {
        margin-left: 50x;
    }

    .datos_usuario1>h1 {
        margin-top: 2px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 16px;
    }

    .datos_usuario1>p {
        margin-top: 7px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

    }

    .datos_usuario2>div>a,
    .datos_usuario3>div>a {
        display: flex;
        align-items: last baseline;
        justify-content: flex-start;
        padding: auto;
        margin-left: 40px;
        text-decoration: none;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

    }

    .datos_usuario2>div>a:hover,
    .datos_usuario3>div>a:hover {
        color: #F7BA1F;
    }

    .datos_usuario2>div {

        margin-top: 10px;
    }

    .datos_usuario3>.a1 {
        margin-top: 25px;
    }

    .datos_usuario3>.a2 {
        margin-bottom: 25px;
    }

    .datos_usuario3>div {
        margin-bottom: 5px;
    }

    .datos_usuario3 {
        border-top: white solid 3px;
        border-bottom: white solid 3px;
        margin-top: 30px;
    }

    .datos_usuario2,
    .datos_usuario3 {
        margin-right: 24px;
        margin-top: 15px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;


    }

    .datos_usuario2 svg,
    .datos_usuario3 svg {
        margin-right: 6px;
    }

    .redes-usuario {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
        gap: 11px;
    }

    footer {
        background-color: #2c2c2c;
        color: #ffffff;
        padding: 40px 60px;
        display: flex;
        flex-direction: row;
        gap: 267.1px;
        align-items: center;
        margin-top: 179px;

    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo img {
        height: auto;
        width: 100px;
    }

    .footer-logo h3 {
        font-size: 18px;
        margin: 0;
    }

    .redes-sociales {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    .redes-sociales i {
        font-size: 26px;
        color: white;
    }

    .footer-Sección {
        text-align: left;
        margin-top: 10px;
    }

    .footer-Sección h4 {
        align-items: center;
        margin-bottom: 10px;
    }

    .footer-Sección ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-Sección li {
        white-space: nowrap;
        margin-bottom: 9px;
    }

    .footer-Sección ul,
    .footer-Sección li,
    .footer-Sección a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
    }

    .footer-Sección a:hover {
        text-decoration: underline;
    }



}