.form_inicio {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 125px;

}

h2 {
    margin-top: 8px;
}

img {
    width: 113px;
    /* Ajusta el tamaño del logo */
    margin-bottom: 52px;
}

img {
    width: 113px;
    /* Ajusta el tamaño del logo */
    margin-bottom: 52px;
}

input {
    margin-top: 2px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(47, 50, 55, 0.5);
    filter: drop-shadow(-2px 2px 15px rgba(47, 50, 55, 0.3));
    width: 430px;
    height: 55px;
}

.boton_inicio {


    /* parrafo */
    height: 55px;
    width: 430px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 16px;
    margin-top: 38px;
    color: #FFFFFF;
    background: #7B62CB;
    border-radius: 8px;

}

footer {
    background-color: #2c2c2c;
    color: #ffffff;
    width: 1440px;
    height: 304px;
    padding: 40px 60px;
    /* Ajuste para espacio interno */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo img {
    width: 113px;
    height: 52px;
    margin-bottom: 15px;
}

.footer-logo h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-logo-icons {
    display: flex;
    gap: 8px;
}

.footer-logo-icons a img {
    width: 20px;
    height: 20px;
}

.footer-Sección {
    margin-top: 10px;
}

.footer-Sección ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-Sección li {
    margin-bottom: 8px;
}

.footer-Sección a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-Sección a:hover {
    text-decoration: underline;
}