footer {
    margin-top: 0;
}

.ContenedorForm {
    display: flex;

}

.contenedor_menuCarrito,
.barra_busqueda {
    display: none;
}

.form_inicio {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 125px;
    margin-right: 125px;
}

.form_inicio>h1 {
    margin-left: 17px;
}

.imagen {
    height: 1300px;
    background-image: url(../img/FondoForm.jpg);
    width: 100%;


}

label {
    margin-top: 20px;
    margin-left: 20PX;
}

form .a_inicio,
.a_registro {
    margin-top: 20px;
    margin-left: 128px;
    margin-bottom: 100px;
}

.a_registro {
    margin-top: 122px;
    margin-left: 205px;
}

.a_inicio:hover,
.a_registro:hover {
    color: #f7ba1f;
}

form>input {
    margin-top: 8px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(47, 50, 55, 0.5);
    filter: drop-shadow(-2px 2px 15px rgba(47, 50, 55, 0.3));
    width: 430px;
    height: 58px;
    margin-left: 20PX;
    margin-right: 20px;
}

form>input::placeholder {
    position: absolute;
    margin-left: 15px;
}


.boton_inicio {
    height: 55px;
    width: 430px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 16px;
    margin-top: 38px;
    color: #FFFFFF;
    background: #7B62CB;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
}

.boton_inicio::before,
.boton_inicio::after {
    content: '';
    position: absolute;
    left: -370px;
    top: 50%;
    /* Centra el rectángulo verticalmente */
    width: 40%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.2;
    transform: rotate(45deg);
    transition: all ease 0.5s;

}

nav .categorias {
    height: 1299px;
}

.boton_inicio::after {
    transition-delay: 0.2s;
}

.boton_inicio:hover::before,
.boton_inicio:hover::after {
    left: 100%;
}

.contenedor_socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10px;
    width: 430px;
    margin-bottom: 26px;
    margin-top: 49px;
    margin-left: 20PX;
}

.contenedor_socialmedia>button {
    height: 55px;
    width: 93px;
    border-radius: 8px;
    border: none;
}

.barraEspacio {
    margin-left: 20PX;
}

.btn_fb {
    background-color: #1877F2;

}

.btn_Apple {
    background-color: #10141A;
}

.btnDiscord {
    background-color: #5865F2;
}

.contenedor_socialmedia>button:hover {
    border: 1.5px solid #f7ba1f;
    transition: 0.4s ease-in;
}
#registroExistoso{
    border: none;
    background-color: #101216;
    border-radius: 10px;
    animation: bounceIn 0.6s ease;
    position: absolute;
    top: 50%;
    left: 35%;
    right: 50%;
  
  }
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(16, 18, 22,0.6) ;
   
    z-index: 1000; /* Asegúrate de que el overlay esté sobre otros elementos */
    opacity: 0;
    transition: opacity 0.5s ease;
    
  }
  .hidden{
    display: none;
  }
  .containerMessage{
   
    height: 300px;
    width: 600px;
  
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
  }
  .containerMessage>a{
    font-size: 16px;
    text-decoration:none ;
    font-weight: bolder;
    color: #7B62CB;
  }
  
  .check-container {
    width: 6.25rem;
    height: 7.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .check-container .check-background {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.84);
    border-radius: 50%;
    animation: animateContainer 0.35s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  .check-container .check-background svg {
    width: 65%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.50s forwards 1.25s ease-out;
  }
  .check-container .check-shadow {
    bottom: calc(-15% - 5px);
    left: 0;
    border-radius: 50%;
    background: radial-gradient(closest-side, #49da83, transparent);
    animation: animateShadow 0.75s ease-out forwards 0.75s;
  }
  @keyframes animateContainer {
    0% {
      opacity: 0;
      transform: scale(0);
      box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }
    25% {
      opacity: 1;
      transform: scale(0.9);
      box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }
    43.75% {
      transform: scale(1.15);
      box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }
    62.5% {
      transform: scale(1);
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }
    81.25% {
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
    100% {
      opacity: 1;
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
  }
  @keyframes animateCheck {
    from {
      stroke-dashoffset: 80;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes animateShadow {
    0% {
      opacity: 0;
      width: 100%;
      height: 15%;
    }
    25% {
      opacity: 0.25;
    }
    43.75% {
      width: 40%;
      height: 7%;
      opacity: 0.35;
    }
    100% {
      width: 85%;
      height: 15%;
      opacity: 0.25;
    }
  }
  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      transform: scale(1.1);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .overlay.show {
    opacity: 1;
  }
  .btnRegistrar{
    position: absolute;
    top: 105.5%;
    left: 16.5%;
  }
  