.form_inicio {
    margin-top: 20px;
    margin-left: 125px;
    margin-right: 125px;
}

input {
    width: 430px;
    height: 55px;
}

.boton_inicio {


/* parrafo */
    height: 55px;
    width: 430px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 16px;

    color: #FFFFFF;
    background: #7B62CB;
    border-radius: 8px;

}