.contenedor_juego {
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.breadcumbs {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.breadcumbs > h2 {
 
  font-weight: 500;
  font-style: Condensed Medium;
  font-size: 18px;
  
}

.breadcumbs > h2 > a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcumbs > h2 > a:hover {
  color: #f7ba1f;
}

.juego,
.descripcion_juego,
h3 {
  margin-top: 20px;
}

.pantallajuego {
  width: 1000px;
  height: 600px;
  background-image: url(../img/pantalladejuego.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  border: 5px black;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7b62cb;
  border-radius: 32px;
  width: 267px;

  height: 69px;
  gap: 10px;
  padding: 10px;
}

.play-button > span,
.fa-circle-play {
  font-weight: 500;
  font-size: 32px;
  cursor: pointer;
}
.BarraAyuda {
  width: 1000px;
  height: 54px;
  background-color: #010101;
  position: absolute;
  top: 550px;
}
.BarraAyuda,
.ContenedorTituloYlogo,
.MenuAyudaUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MenuAyudaUser {
  margin-right: 20px;
  font-size: 29px;
  gap: 15px;
}
.presentacionDelJuego {
  margin-top: 30px;
  width: 1000px;
  height: 689px;
  background-color: #2f3237;
  border-radius: 10px;
  display: grid;
   grid-template-areas: "descripcion multimedia"
                          "FotosDelJuego";
  grid-template-columns: 391px 572px;
  grid-template-rows: 387px 182px ;
  column-gap: 20px;
  row-gap: 18px;
 

}
.ContenedorDescripcion {
  grid-area: "descripcion";
  margin-left: 50px;
  margin-top: 59px;
}
.ContenedorDescripcion>h2{
    margin-bottom: 35px;
    font-style: Medium;
    font-weight: 500;
    font-size: 26px;
}
.presentacionDelJuego > .ContenedorDescripcion > .parrafoDescripcion {
  height: 240px;
  width: 299px;
  line-height: 20px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 26px;
  
 
}
.ContenedorDescripcion>p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.videoDelJuego{
  grid-area: "multimedia";
  display: flex;
  justify-content: center;
  margin-top: 78px;
  margin-left: 33px;
  margin-right: 29px;
 
}

.video{
 
  min-width: 330px;
  transition: 0.3s ease-in;
  border-radius: 8px;
  
}
.video:hover{
  border-radius: 0px;
}
.fotoDelJuego{
 
  margin-left: 50px;
  margin-top: 17px;
  grid-area:"FotosDelJuego" ;
  width: 1000px;
  height: 182px;
}
.fotoDelJuego>.carrouselMultimedia{
  display: flex;

}
.carrouselMultimedia{
  margin: 33px 31px 34px 0px;
  gap: 20px;
 
}
.carrouselMultimedia>img{
 
  width: 293px;
  height: 182px;
  border-radius: 4px;
  object-fit: cover;

}
.carrousel_chico{
  width: auto;
  justify-content: center;
  margin-top: 88px;
  gap: 11px;
  display: flex;
 
}
.card_chica{
  width: 184px;
  height: 324px;
}



