.detalles_juego {
    align-items: center;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
    width: auto;
}

.breadcumbs {
    margin-top: 15px;
    margin-bottom: 15px;
}
.juego,.descripcion_juego,h3 {
    margin-top: 20px;
}

.pantallajuego {
    width: 1000px;
    height: 600px;
    background-image: url(../../img/pantalladejuego.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    border: 5px black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(1.5px);
}