html, body {
  overflow-x: hidden;
}
.contenedor_juego {

  display: flex;

  margin-left: 61px;
  margin-right: 61px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.breadcumbs {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.breadcumbs>h2 {

  font-weight: 500;
  font-style: Condensed Medium;
  font-size: 18px;

}

.breadcumbs>h2>a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcumbs>h2>a:hover {
  color: #f7ba1f;
}

.juego,
.descripcion_juego,
h3 {
  margin-top: 20px;
}

.pantallajuego {
  width: 100%;
  height: 600px;

  background-size: cover;
  background-position: center;
  position: relative;
  border: 5px black;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pantalladejuego.webp);
  background-size: contain;
  background-position: center;
  filter: blur(5px);
  /* Desenfoque */
  z-index: 0;
  /* Está debajo del botón */
}


.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7b62cb;
  border-radius: 32px;
  width: 267px;
  height: 69px;
  gap: 10px;
  padding: 15px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.3s linear;
  transform-origin: center;
}

.play-button:hover {
  color: rgba(255, 255, 255, 0.92);
  background: #6433FF;
  /* Mantener la animación para que no se detenga */
  transform: translate(-50%, -50%);
  animation: shrink 1.5s infinite;

}

.play-button>span,
.fa-circle-play {
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  cursor: pointer;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes shrink {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  49% {
    transform: translate(-50%, -50%) scale(1.07, 1.07);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.BarraAyuda {
  width: 100%;
  height: 54px;
  background-color: #010101;
  position: absolute;
  top: 550px;
}

.BarraAyuda,
.ContenedorTituloYlogo,
.MenuAyudaUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MenuAyudaUser {
  margin-right: 20px;
  font-size: 29px;
  gap: 15px;
}

.MenuAyudaUser>button {
  all: unset;
  cursor: pointer;
  background-color: #010101;
}

.menu_compartir {
  position: absolute;
  width: 600px;
  height: 120px;
  border-radius: 8px;
  background-color: #2f3237;
  border: none;
  align-items: center;
  margin-left: 1015px;
  top: 540px;

}

.menu_compartir>h1 {
  margin-left: 223px;
}

.menu_compartir>.redes {
  margin-left: 195px;
}

.menu_compartir>h1 {
  font-size: 36px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-top: 10px;
}

.redes {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 230px;
  height: 45px;
  margin-left: 10px;
  gap: 5px;
}

.redes>.btn_redes {
  height: 45px;
  width: 42px;
  border-radius: 100%;
  border: 0.25px solid #f7ba1f;
  display: flex;
  justify-content: center;
  align-items: center;

}

.menuControles {
  height: 300px;
  margin-left: 1000px;
  top: 360px;
}

.menuControles>h1 {
  margin-top: 30px
}

.menuControles>.controles {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 22px;
  margin-left: 20px;
}

.controles>.controlMover,
.controlSeleccionar {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.presentacionDelJuego {
  margin-top: 30px;
  width: 100%;
  height: 750px;
  background-color: #2f3237;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "descripcion multimedia"
    "FotosDelJuego";
  grid-template-columns: 391px 972px;
  grid-template-rows: 387px 300px;
  column-gap: 30px;
  row-gap: 50px;



}

nav .categorias {
  height: 2704px;

}

.ContenedorDescripcion {
  grid-area: "descripcion";
  margin-left: 120px;
  margin-top: 39px;
}

.ContenedorDescripcion>.SubtituloSeccion {
  margin-bottom: 35px;
  font-style: Medium;
  font-weight: 500;
  font-size: 30px;
}

.presentacionDelJuego>.ContenedorDescripcion>.parrafoDescripcion {
  height: 240px;
  width: 300px;
  line-height: 20px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 60px;
  font-size: 18px;



}

.ContenedorDescripcion>.parradoCreadorJuego,
.parrafoLinkPaginaOficial {
  font-size: 16px;
  line-height: 15px;
  margin-bottom: 5px;

}

.videoDelJuego {
  grid-area: "multimedia";
  display: flex;
  justify-content: center;
  margin-top: 85px;



}

.video {


  transition: 0.3s ease-in;
  border-radius: 8px;

}

.video:hover {
  border-radius: 0px;
}

.fotoDelJuego {

  margin-left: 100px;
  margin-top: 17px;
  grid-area: "FotosDelJuego";
  width: 1400px;
  height: 182px;
}

.fotoDelJuego>.carrouselMultimedia {
  display: flex;

}

.carrouselMultimedia {
  margin: 53px 31px 34px 0px;
  gap: 20px;

}

.carrouselMultimedia>img {

  width: 400px;
  height: 182px;
  border-radius: 4px;
  object-fit: cover;

}


.seccionRecomendado {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.seccionRecomendado>.SubtituloSeccion {
  margin-top: 42px;
  margin-left: 45px;
  font-style: Medium;
  font-weight: 500;
  font-size: 24px;
}

.carrousel_chico {
  width: auto;
  justify-content: center;
  margin-top: 15px;
  gap: 45px;
  display: flex;
  margin-left: 25px;
  margin-bottom: 70PX;
}



.comunidad {
  display: flex;
  flex-direction: column;
  height: 877px;
  width: 1318px;
  margin-left: -10px;
}

.encabezadoComentarios {
  display: flex;
  width: 100%;
  max-width: 1400px; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: #FFFFFF solid 1px;
  margin-top: 82px;
  margin-bottom: 48px;
  padding: 0 10px; /* Agrega padding para ajustar el contenido */
}

.encabezadoComentarios>p {
  margin-left: 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.parrafoOrdenarPor {
  display: flex;
  align-items: center;
  margin-right: 32px;
  gap: 7px;
}

.box-comentarios {
  width: inherit;
  height: 210px;
  background-color: #101216;
}

.flecha_der,
.flecha_izq {


  margin-left: -29px;
  margin-right: -29px;
  margin-top: 80px;
  width: 58px;
  height: 113px;
  border-radius: 0px 30px 30px 0px;
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 83px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;

}

.flecha_izq {
  border-radius: 30px 0px 0px 30px;
}

.flecha_der:hover,
.flecha_izq:hover {
  background: rgba(253, 253, 253, 0.212);
}


.box-comentarios>form,
.input-area {
  width: 95%;
  height: 210px;
  margin-left: 55px;
  border-radius: 8px;
  background-color: #2f3237;



}



.comentario-textArea {
  height: 160px;
  margin-left: 0px;
  background-color: #2f3237;
  width: 100%;


}





.box-comentarios>form>.configuracionDeTexto {
  border-top: 1px solid #FFFFFF;
  display: flex;
  gap: 10px;
  align-items: center;
  position: inherit;



}

.btn_Texto {
  margin-left: 33px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.btn_Texto>a {
  margin-right: 5px;
  margin-top: 13px;
  text-decoration: none;


}

.btn_Texto>a:nth-child(2) {
  margin-right: 31px;
  margin-top: 14px;
}

.box-comentarios>form>.configuracionDeTexto>.btnSubmit>button {
  margin-left: 870px;
  margin-top: 6px;
  margin-bottom: 10px;
  background-color: #7b62cb;
  width: 135px;
  height: 36px;
  border-radius: 10px;
  border: none;

}

.box-comentarios>form>.configuracionDeTexto>.btnSubmit>button:hover {
  
  background-color: #7b62cb;
  width: 135px;
  height: 36px;
  border-radius: 10px;
  border: none;
  text-decoration: underline;

}

.usuario_foro {
  position: absolute;
  margin-left: 11px;
  height: 100px;
}

.comentarios-externos {
  height: 120px;

  margin-top: 33px;
}

.comentarios-externos>.nombreUserYtexto {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 29px;
}

.nombreUserYtexto>.NombreUser {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FAFAFA;
}

.nombreUserYtexto {



  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;


  color: #FFFFFF;


}

.like-dislike {
  margin-left: 70px;
  margin-top: 11px;
  display: flex;
  align-items: center;
  gap: 4.62px;
}

.usuario_comentarioExterno {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;

}

.configuracionComentario {

  float: right;
  right: 523px;
  margin-right: 14px;
  margin-top: -70px;
}