* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.contenedor_carrouseles {
    margin: 1rem;
    padding: 0.5rem;
    
}

.contenedor_carrouseles>div {

    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: row;


}

.flecha_der,
.flecha_izq {
    display: none;
}



.card_grande {
    width: 123px;
    height: 152px;
    background: #FFFFFF;
    border-radius: 20px;
}


.card_chica {
    width: 90px;
    height: 134px;
    background: #FFFFFF;
    border-radius: 20px;
}

.card_grande_fuminado,
.card_chica2,
.card_chica_fuminado {
    display: none;
}

.titulo_carrousel {
    font-size: 20px;
    margin: 0.5rem;
  
}
.carrousel_chico,.carrousel_grande{
    margin-bottom: 2rem;
}






/* desktop */
@media (min-width: 900px) {

    .contenedor_row{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        margin-left: 62px;
        margin-right: 62px;    
    }
    .contenedor_carrouseles{
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 62px;
        margin-right: 62px;
 
    }
   
    .carrousel_grande,.carrousel_chico{
        width: auto;
        justify-content: center;
        margin: 0px;
        
        
    }
    
  
    .card_grande{
        width: 350px;
        height: 305px;
    }
    .card_chica{
        width: 184px;
        height: 324px;
    }
    .card_grande_fuminado,
    .card_chica2,
    .card_chica_fuminado {
        display: block;
    }
       .flecha_der,
    .flecha_izq {
        display: block;
    }

    /* .contenedor_carrouseles {
        display: flex   ;
        flex-direction: column;
        position: relative;
        
    }

    .contenedor_carrouseles>h1 {
        margin-top: 100px;
        margin-bottom: 15px;
        margin-left: 61px;
    }

    .contenedor_carrouseles>h2 {
        margin-top: 50px;
        margin-bottom: 15px;
        margin-left: 61px;
    } */

  
   

   

    .contenedor_carrouseles>.carrousel_grande>.card_grande,
    .card_grande2,
    .card_grande_fuminado {
      
        width: 350px;
        height: 305px;
       
        background: #FFFFFF;
        border-radius: 20px;
    }

  

    

        .contenedor_carrouseles {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .contenedor_carrouseles>h1 {
            margin-top: 100px;
            margin-bottom: 15px;
            margin-left: 61px;
        }

        .contenedor_carrouseles>h2 {
            margin-top: 50px;
            margin-bottom: 15px;
            margin-left: 61px;
        }

        .contenedor_carrouseles>.carrousel_grande {

            display: flex;
            width: 1317px;
            height: 337px;
            top: 191px;

        }

        .contenedor_carrouseles>.carrousel_grande>.card_grande,
        .card_grande2,
        .card_grande_fuminado {
            margin-left: 62px;
            width: 350px;
            height: 305px;
            top: 3px;
            background: #FFFFFF;
            border-radius: 20px;
        }

        .card_grande_fuminado {
            margin-left: 0px;
            width: 69px;
        }

        .contenedor_carrouseles>.carrousel_grande>.card_grande2 {
            margin-left: 0px;
        }

        .contenedor_carrouseles>.carrousel_chico {

            display: flex;
            width: auto;
            height: 356px;


        }

        .contenedor_carrouseles>.carrousel_chico>.card_chica,
        .card_chica2,
        .card_chica_fuminado {

            margin-left: 41px;
            width: 184px;
            height: 320px;
            background-color: white;
            top: 10.11%;
            bottom: 0%;
            border-radius: 20px;
        }

        .card_chica_fuminado {
            width: 117px;
            margin-left: 0px;
        }

        .card_chica2 {
            margin-left: 0px;
        }

        .flecha_izq,
        .flecha_der {
            width: 58px;
            height: 113px;
            opacity: 0.4;
            border-radius: 0px 30px 30px 0px;


        }

    
}