* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background-color: hsl(220, 16%, 7%);
  
}
header {
    width: 100%;
    background-color: #180C39;
    padding: 0 0px;

}
header,
.contenedorCarritoUsuario, .contenedorMenuLogo {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    align-items: center;

}
.contenedorCarritoUsuario, .contenedorMenuLogo{
    margin: 20px 20px 20px 20px;


}
.contenedorCarritoUsuario{
    gap: 20px;
   
}


.logo{
    height: 70px;
    width: 70px;
}
.imgLogo {
    height: inherit;
    width: inherit;
    object-fit: contain;
    
}

.usuario {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-image: url(../img/FotoUsuario.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    
}
.contenedor{
   
    flex-direction: column;
    margin-left: 10px;
}
   
.contenedor>div{
    
     display: flex;
     width: 100%;
     gap: 10px;
        
}
.carrousel_chico{
    margin-left: 10px;
}

.contenedor>h1{
    margin: 15px;
}



 .card_grande{
    width: 123px;
    height: 152px;
    background: #FFFFFF;
    border-radius: 20px;
 }
 
.barra_busqueda {
    display: none;
}

.card_chica{
    width: 90px;
    height: 134px;
    background: #FFFFFF;
    border-radius: 20px;
}





/* desktop */
@media (min-width: 900px) {
}