* {
    margin: 0;                
    padding: 0;               
    box-sizing: border-box;   
    font-family: Arial, sans-serif;
    color: white;;
}





 /* desktop */
@media (min-width: 900px) {
header  {
    background-color:#180C39;
    
    width: 100%;
    height: 85px;
 
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}


.barra_busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    left: 39.58%;
    right: 39.58%;
    height: 40px;
    width: 300px;
    background: #9EA0B2;
    border-radius: 20px;
}

.menu {
    position: absolute;
    left: 1.11%;
    right: 96.67%;
    border: 5px solid #E5C675;
}
.carrito {
    position: absolute;
    left: 89.65%;
    right: 7.57%;
}
.usuario {
    position: absolute;
    left: 94.79%;
    right: 2.36%;
}
.nombre_pagina{
    position: absolute;
    left: 12.99%;
    right: 73.68%;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}





body{
    background-color: #101216;
}
.contenedor {
    display: flex;
    flex-direction: row
}
.categorias {
    display: none ;
    position: relative;
    width: 202px;
    height: 1234px;
    background-color: #2F3237;
}

.menu_usuario {
    display: none;
    background-color: white;
    position: absolute;
    width: 402px;
    height: 550px;
    left: 830px;
    top: 80px;
    border-radius: 20px;

}

.contenedor_carrouseles{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40px;
}

.contenedor_carrouseles > h1 {
    margin-top: 80px;
    margin-bottom: 15px;
    margin-left: 100px;
}

.contenedor_carrouseles > .carrousel_grande{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 328px;
    top: 182px;
}
.contenedor_carrouseles > .carrousel_grande > .card_grande{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 350px;
    height: 305px;
    margin-left: 40px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
}

.contenedor_carrouseles > .carrousel_chico{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
    position: relative;
    left: 15px;
    width: auto;
    height: 268px;


}

.contenedor_carrouseles > .carrousel_chico > .card_chica {
    width: 184px;
    height: 268px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
}

.flecha_grande,.flecha_chica{
    width: 58px;
    height: 113px;
    opacity: 0.4;
    border-radius: 0px 30px 30px 0px;
}
.flecha_chica {
    margin-right: 20px;
}


.detalles_juego {
    margin-top: 10px;
    margin-left: 100px;
    width: 722px;
}

.juego, .descripcion_juego, h3{
    margin-top: 20px;
}
}
footer {
    width: auto;
    height: 165px;
    background-color: #2F3237;
}




